.clearfloat:: after{
    content: "";/*设置添加的子元素的内容为空*/
    display: block;/*设置添加的子元素为块级元素*/
    height: 0;/*设置添加的子元素的高度为0*/
    visibility: hidden;/*设置添加的子元素看不见*/
    clear: both;/*给添加的子元素设置clear: both*/
}
.clearfloat{
    *zoom: 1;/*兼容IE6*/
}
.ivu-content-div {
	float: left;
	background-color: white;
	padding: 20px;
	border-radius: 8px;	
}
.ivu-table-wrapper {
	margin-left: 15px;
}
.ivu-page {
	float: right;
	margin-top:10px ;
}
.ivu-right-button {
	margin: 0 0 10px 15px;
}
